<div class="container">
<div class="row">
    <div class="col-md-12">

  <img src="../coupon-system/images-coupons/coupons.jpg" class="img-responsive" alt="Coupons" style="width:100%" >
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <img src="../coupon-system/images-coupons/coupons6.jpg" class="img-responsive" alt="Coupons6" style="width:100%" >
  </div>
  <div class="col-md-4">
     <img src="../coupon-system/images-coupons/coupons4.png" class="img-responsive" alt="Coupons4" style="width:100%" >
  </div>

</div>

</div>
