<div class="row">
<div class="col-lg-1 col-md-3  col-sm-5"></div>

<ul class="nav nav-pills ">
  <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">Home</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/app-company-edit" >Create Company</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/create-customer" >Create Customer</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/app-company-list" >View All Companies</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/view-all-customers" >View All Customers</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/app-coupons-list" >View All Customer Coupons</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/app-create-coupon" >Create Coupon</a>
  </li>
 </ul>
</div>

