<div class="input-group">
  <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
  <input type="text"  [(ngModel)]="filteredSearch" placeholder="Type to search...">

</div>
<div>
<div>
 <table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Coupon Title</th>
      <th>price</th>
      <th>Category</th>
      <th>Description</th>
      <th>Start Valid Date</th>
      <th>Expiration Date</th>
      <th>image</th>

    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let coupon of couponData | filter:filteredSearch:'title'">
      <td>{{coupon.ID}}</td>
      <td>{{coupon.title}}</td>
      <td>{{coupon.price}}</td>
      <td>{{coupon.type}}</td>
      <td>{{coupon.message}}</td>
      <td>{{coupon.startDate}}</td>
      <td>{{coupon.endDate}}</td>
      <td><img src={{coupon.image}} class="img-responsive" alt="Cinque Terre" width="110" height="60"></td>
      <!-- display icons only if you company -->

     </tr>
  </tbody>
  </table>
</div>
